.task {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgb(83, 87, 100);
}

.task_left_block {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    box-sizing: border-box;
}

.task_info {
    display: grid;
    row-gap: 5px;
    justify-content: left;
    justify-items: left;
    box-sizing: border-box;
    cursor: pointer;
}

.date_and_time {
    position: relative;
}

.task_date {
    width: auto;
    top: 0;
    font-size: 12px;
    font-weight: 600;
    color: #606060;
}

.action_buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: auto;
    height: 25px;
    visibility: hidden;
    opacity: 0;
}

.action_buttons_show {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: auto;
    height: 25px;
    visibility: visible;
    z-index: 1;
    opacity: 1;
    box-shadow: 0 0 12px 12px rgb(41, 46, 62);
}

.action_buttons_show button,
.action_buttons button {
    display: inline-block;
    width: auto;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    padding: 1px;

}

.action_buttons_show button:hover,
.action_buttons button:hover {
    background-color: rgb(100, 139, 189);
}

.dots_ico {
    width: 25px;
    height: 23px;
    color: #606060;
}