
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  width: 100%;
}

body {
  background: #292e3e;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #e9e9e9;
}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  padding-top: 18px;
  pointer-events: none;
  z-index: 900;
}

header .header-nav {
  position: relative;
  display: inline-block;
}

header .menu-button{
  position: relative;
  width: 25px;
  height: 25px;
  background: transparent;
  padding: 0;
  margin-left: 240px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  pointer-events: auto;
}

header .menu-button:hover {
  color: #b3c0e8;
}

.sidebar-menu-ico{
  width: 18px;
  height: 18px;
}

header .apps-button {
  position: relative;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 5%;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  pointer-events: auto;
}

header .apps-button:hover {
  color: #b3c0e8;
}

.apps-ico{
  width: 25px;
  height: 25px;
}

header .apps-list {
  position: absolute;
  width: 200px;
  border-radius: 0 0 5px 5px;
  right: 2%;
  margin-top: 30px;
  background: #292e3e;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transition: .3s;
  pointer-events: auto;
}

header .apps-list h4{
  position: absolute;
  width: 100%;
  top: -20px;
  font-size: 14px;
  font-weight: 400;
  user-select: none;
}

header .apps-list .apps-matrix {
  position: relative;
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 50px);
  width: 100%;
  max-width: 200px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 10px; /* Отступ между колонками */
  row-gap: 0; /* Отступ между рядами */
  padding-bottom: 20px;
}

header .apps-list .apps-matrix .app-box {
  position: relative;
  padding: 10px;
  width: 25px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: 300;
  transition: 0.2s;
  border-radius: 5px;
  margin-bottom: 20px;
}

header .apps-list .apps-matrix .app-box .apps-icon {
  position: relative;
  width: 25px;
  height: 25px;
}

header .app-name {
  position: absolute;
  width: 100%;
  top: 55px;
  left: 0;
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}

header .apps-list .apps-matrix .app-box:hover{
  background: #444e6c;
}

nav{
  position: fixed;
  height: 100%;
  width: 280px;
  background: #323950;
  transition: .3s;
  padding-top: 2px;
  z-index: 800;
}

nav ul {
  overflow: hidden;
  list-style: none;
  padding: 10px;
  transition: .3s;
  width: auto;
  box-sizing: border-box;
}

nav ul .user-profile-button{
  margin-bottom: 10px;
  width: 95px;
  padding: 5px;
}

nav ul .user-profile-button span{
  margin-left: 10px;
  line-height: 25px;
}

nav ul .nav-icon-profile {
  position: relative;
  width: 40px;
  height: 25px;
  margin-left: 2px;
}

nav ul li {
  display: flex;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 20px;
  transition: 0.3s;
}

nav ul li:hover{
  background: rgb(43, 49, 67);
}

nav ul .nav-create-task-button {
  margin-bottom: 5px;
}

nav ul .nav-icons {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#inbox-ico{
  color: #5c7a98;
}

#today-ico{
  color: #5c9861;
}

#seven-days-ico{
  color: #945c98;
}

#overdue-ico{
  color: #985c5c;
}

#week-ico{
  color: #945c98;
}

nav ul .filter-li {
  display: grid;
  padding-bottom: 5px;
  border-radius: 5px;
}

nav ul .filter-li:hover{
  background: rgb(43, 49, 67);
}

nav ul .filter-li .filter-title {
  display: flex;
  justify-content: space-between;
}

nav ul .filter-li .filter-title span .filters-ico {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  color: rgb(160, 160, 180);
}

nav ul .filter-li .filter-title .filter-edit-ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: rgb(160, 160, 180);
  transition: .3s;
}

nav ul .filter-li .filter-title .filter-edit-ico:hover {
  color: #b3c0e8;
}

nav ul .filter-li .sidebar-filter-content {
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}

nav ul .filter-li.open .sidebar-filter-content{
  height: auto;
}

nav .tasks-length-checker {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  float: right;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #919191;
}

main{
  position: relative;
  display: flex;
  width: 100%;
}

main .task-manager {
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  transition: .3s;
}

main .tasks-list{
  position: relative;
  width: 42%;
  box-sizing: border-box;
  margin-left: 29%;
}

main .top-toolbar{
  position: relative;
  width: auto;
  padding: 10px 0 10px 0;
  user-select: none;
  overflow: hidden;
}

main .top-toolbar h1{
  font-size: 24px;
  font-weight: 400;
}

main .tasks-list .tasks-empty{
  color: rgb(145, 146, 166);
  font-weight: 400;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 15%;
  user-select: none;
  pointer-events: none;
}

main .tasks-list .tasks-empty h2{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

main .tasks-list .tasks-empty p{
  font-size: 14px;
  font-weight: 300;
}

main .tasks-list .tasks-empty img{
  width: 250px;
  height: 250px;
}

main .tasks-add-button {
  position: relative;
  display: flex;
  width: 100%;
  padding: 5px 0 5px 0;
  color: ghostwhite;
  background: transparent;
  border: none;
  border-radius: 5px;
  transition: .3s;
  cursor: pointer;
}

main .tasks-add-button:hover {
  color: #577290;
}

.edit-ico{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
  color: #577290;
}

.Task{
  position: relative;
  display: flex;
  width: auto;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(83, 87, 100);
}

.Task .task-radio-ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: rgb(160, 160, 180);
  cursor: pointer;
  transition: .3s;
}

.Task .task-radio-ico:hover {
  color: rgb(100, 139, 189);
}

.Task .task-description{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  max-inline-size: 90%;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.Task .date-inline{
  position: relative;
  display: flex;
  margin-top: 10px;
}

.Task .task-date{
  width: 40px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #606060;
}

.cancel-ico, .delete-ico{
  width: 25px;
  height: 25px;
}

.edit-window {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.edit-window .edit-task{
  position: relative;
  width: 40%;
  top: 20%;
  left: 30%;
  padding: 20px;
  border-radius: 5px;
  background: #323950;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.edit-window .edit-task .top{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 45%);
  row-gap: 0;
  column-gap: 10%;
  width: 100%;
  margin-bottom: 10px;
}

.edit-window input {
  width: 100%;
  box-sizing: border-box;
  background: #292e3e;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 5px;
  color: ghostwhite;
  border-radius: 5px;
}

.edit-window .edit-task .bottom {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 100%);
  max-width: 100%;
  row-gap: 10px;
  column-gap: 40px;
}

.edit-window .edit-task textarea {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
  background: #292e3e;
  border: none;
  border-radius: 5px;
  outline: none;
  color: ghostwhite;
  resize: none;
}

.edit-window .edit-task .edit-task-p {
  margin-bottom: 5px;
  font-size: 14px;
}

.edit-window .edit-task .bottom p {
  width: 80px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}

.edit-window .task-add-button {
  position: relative;
  width: 100%;
  height: 50px;
  background: #323950;
  border: none;
  outline: none;
  color: #e9e9e9;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: .5s;
  margin-bottom: auto;
}

.edit-window .task-add-button:hover {
  background: #444e6c;
}

.edit-window .exit-button {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 0;
  top: -30px;
  right: 10px;
  padding: 0;
  border: none;
  color: white;
  cursor: pointer;
  transition: .5s;
  background: transparent;
}

.edit-window .exit-button:hover {
  color: #985c5c;
}

footer {
  position: fixed;
  width: 100%;
  min-width: 250px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.2);
  bottom: 1%;
  user-select: none;
  z-index: 800;
}
